# git ingore files
auto-save-list/
irony/
elpa/
tutorial/
session.*
*~
ac-comphist.dat
.python-environments/
ido.last
pyim/
elpy/
transient/
org-persist/
tramp
tree-sitter/
config/99-host-specific/
/early-init-host-specific.el
/.cache/
/.dap-breakpoints
/.lsp-session-v1
/eclipse.jdt.ls/
/workspace/
/rime/*
!/rime/default.custom.yaml
/eln-cache
/projects
